<div class="card">

  <div class="card-header">
    {{pageTitle}}
  </div>

  <div class="card-body"
       *ngIf="products">
    <div class="list-group">
      <button class="list-group-item list-group-item-action rounded-0"
              *ngFor="let product of products"
              [ngClass]="{'active': product?.id === selectedProduct?.id}"
              (click)="productSelected(product)">{{ product.name }}
      </button>
    </div>
  </div>

  <div class="card-footer">
    <div class="row">
    </div>
  </div>
</div>
<div *ngIf="errorMessage"
     class="alert alert-danger">
  Error: {{ errorMessage }}
</div>
