<nav class="navbar navbar-dark bg-dark">
  <a class="navbar-brand">Navbar</a>
  <form class="form-inline">
    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
    <button type="button" class="btn btn-outline-primary" (click)="search($event)">
      Button
    </button>
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
  </form>
</nav>
<div class="container main-content" *ngIf="products$ | async as products">

  <h2>Product</h2>
  <app-product-list class="product-list" [products]="products" (add)="onAdd($event)"></app-product-list>

  <h2>My Collection</h2>

    <app-product-collection class="product-collection" [products]="products" (remove)="onRemove($event)"></app-product-collection>

</div>
